:root {
    --darkblue__intro: hsl(217, 28%, 15%);
    --darkblue__main: hsl(218, 28%, 13%);
    --darkblue__footer: hsl(216, 53%, 9%);
    --darkblue__testimonials: hsl(219, 30%, 18%);
    --cyan__call: hsl(176, 68%, 64%);
    --blue__call: hsl(198, 60%, 50%);
    --lightred__error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}