@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --font__opensans: 'Open Sans', sans-serif;
    --font__raleway: 'Raleway', sans-serif;
    --darkblue__intro: hsl(217, 28%, 15%);
    --darkblue__main: hsl(218, 28%, 13%);
    --darkblue__footer: hsl(216, 53%, 9%);
    --darkblue__testimonials: hsl(219, 30%, 18%);
    --cyan__call: hsl(176, 68%, 64%);
    --blue__call: hsl(198, 60%, 50%);
    --lightred__error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}
.fylo__landingpage {
    background-color: var(--darkblue__main);
    font-family: var(--font__opensans);
    font-size: 14px;
    color: var(--white);
    line-height: normal;
    header {
        background-color: var(--darkblue__intro);
        nav {
            width: 100%;
            margin-top:50px;
            margin-bottom: 50px;
            .header__menu__nav {
                .navbar-nav {
                    flex-direction: row;
                    gap: 40px;
                    .nav-item {
                        color: var(--white);
                    }
                }
            }
        }
    }
    main {
        #main__get__started {
            text-align: center;
            margin-bottom: 100px;
            background-color: var(--darkblue__intro);
            background-image: url(/assets/img/bg-curvy-desktop.svg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 30%;
            .mgs__image {
                margin-bottom: 50px;
            }
            .mgs__title {
                margin-bottom: 30px;
                span {
                    font-family: var(--font__raleway);
                    font-size: 40px;
                    font-weight: 600;
                }
            }
            .mgs__content {
                padding: 0 25%;
                margin-bottom: 20px;
                p {
                    font-size: 20px;
                }
            }
            .mgs__button {
                margin-bottom: 20px;
                a {
                    background-color: var(--blue__call);
                    border-color: var(--blue__call);
                    padding: 15px 60px;
                    border-radius: 30px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
        #main__icons {
            margin-bottom: 70px;
            .mi__content {
                margin-bottom: 50px;
                .mi__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 100px;
                    img {
                        margin-bottom: 40px;
                    }
                    span {
                        font-family: var(--font__raleway);
                        font-size: 20px;
                        font-weight: 600;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
        }
        #main__see__how__fylo__works {
            margin-bottom: 120px;
            .mshfw__content {
                .mshfw__image {
                    img {
                        width: 100%;
                    }
                }
                .mshfw__text {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding-left: 40px;
                    span {
                        font-family: var(--font__raleway);
                        font-size: 40px;
                        font-weight: 600;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    a {
                        color: var(--cyan__call);
                        text-decoration: none;
                        border-bottom: solid 2px var(--cyan__call);
                        padding-bottom: 5px;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        &::after {
                            content: url(/assets/img/icon-arrow.svg);
                            line-height: 0;
                        }
                    }
                }
            }
        }
        #main__comment {
            margin-bottom: 120px;
            .container {
                background-image: url(/assets/img/bg-quotes.png);
                background-repeat: no-repeat;
                background-position: left top;
                background-size: inherit;
                padding: 30px 20px;
            }
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        background-color: var(--darkblue__testimonials);
                        border-radius: 5px;
                        .mc__content {
                            padding: 25px;
                            span {
                                line-height: 1.5;
                            }
                        }
                        .mc__profile {
                            display: flex;
                            align-items: center;
                            gap:10px;
                            padding: 0px 25px 25px;
                            .mc__profile__image {
                                img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                            }
                            .mc__profile__content {
                                display: flex;
                                flex-direction: column;
                                .mc__profile__content__name {
                                    font-weight: bold;
                                }
                                .mc__profile__content__job {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        #footer__newsletter {
            background-color: var(--darkblue__testimonials);
            border-radius: 5px;
            padding: 40px 70px;
            transform: translateY(80px);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .fn__subscribe {
                .fn__subscribe__intro {
                    margin-bottom: 10px;
                    h2 {
                        font-size: 30px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    p {
                        padding: 0px 10px;
                        margin-bottom: 30px;
                    }
                }
                .fn__subscribe__form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    input {
                        border-radius: 30px;
                    }
                    button {
                        font-size: 12px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-radius: 30px;
                        background-color: var(--cyan__call);
                        border-color: var(--cyan__call);
                    }
                }
            }
        }
        #footer__content {
            padding-top: 150px;
            padding-bottom: 150px;
            background-color: var(--darkblue__footer);
            .fc__location {
                display: flex;
                gap: 25px;
                padding-right: 25px;
                &::before {
                    content: url(/assets/img/icon-location.svg);
                }
            }
            .fc__phone {
                display: flex;
                gap: 25px;
                padding-right: 25px;
                &::before {
                    content: url(/assets/img/icon-phone.svg);
                }
            }
            .fc__mail {
                display: flex;
                gap: 25px;
                padding-right: 25px;
                &::before {
                    content: url(/assets/img/icon-email.svg);
                }
            }
            .nav {
                .nav-link {
                    color: var(--white);
                    margin-bottom: 10px;
                }
            }
            .social {
                display: flex;
                gap: 10px;
                a {
                    width: 30px;
                }
                .icon-facebook {
                    &::before {
                        content: url(/assets/img/fb.svg);
                    }
                }
                .icon-twitter {
                    &:before {
                        content: url(/assets/img/tw.svg);
                    }
                }
                .icon-instagram {
                    &::before {
                        content: url(/assets/img/in.svg);
                    }
                }
            }
        }
    }
}

br.small {
    display: none;
}
br.large {
    display: block;
}

@media (min-width: 1200px) { 
    
}

@media (max-width: 991px) { 
    .fylo__landingpage {
        font-size: 12px;
        header {
            nav {
                margin-top: 20px;
                margin-bottom: 50px;
                margin-left: 15px;
                margin-right: 15px;
                .navbar-brand {
                    img {
                        width: 110px;
                    }
                }
                .header__menu__nav {
                    .navbar-nav {
                        gap: 30px;
                    }
                }
            }
        }
        main {
            #main__get__started {
                background-image: url(/assets/img/bg-curvy-mobile.svg);
                background-size: 100% 20%;
                .mgs__image {
                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: contain;
                    }
                }
                .mgs__title {
                    span {
                        font-size: 25px;
                    }
                }
                .mgs__content {
                    padding: 0 10%;
                    p {
                        font-size: 14px;
                    }
                }
                .mgs__button {
                    a {
                        font-size: 12px;
                    }
                }
            }
            #main__icons {
                .mi__content {
                    .mi__item {
                        padding: 10px 45px;
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            #main__see__how__fylo__works {
                .mshfw__content {
                    gap: 50px;
                    .mshfw__image {
                        img {
                            width: 100%;
                            height: 250px;
                            object-fit: contain;
                        }
                    }
                    .mshfw__text {
                        padding-left: 10px;
                        padding-right: 10px;
                        span {
                            font-size: 20px;
                        }
                        p {
                            font-size: 13px;
                        }
                        a {
                            font-size: 13px;
                        }
                    }
                }
            }
            #main__comment {
                margin-bottom: 10px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
        footer {
            #footer__newsletter {
                margin-left: 10px;
                margin-right: 10px;
                padding: 40px 25px;
                transform: translateY(165px);
                .fn__subscribe {
                    .fn__subscribe__intro {
                        h2 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    .fn__subscribe__form {
                        flex-direction: column;
                        gap: 20px;
                    }
                }
            }
            #footer__content {
                padding-top: 230px;
                padding-bottom: 40px;
                padding-left: 30px;
                padding-right: 30px;
                .fc__location {
                    font-size: 14px;
                }
                .nav {
                    .nav-link {
                        font-size: 14px;
                    }
                }
                .social {
                        justify-content: center;
                }
            }
        }
    }
    .mb-7 {
        margin-bottom: 70px;
    }
    .mb-4 {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) { 
    .fylo__landingpage {
        font-size: 12px;
        header {
            nav {
                margin-top: 20px;
                margin-bottom: 50px;
                margin-left: 15px;
                margin-right: 15px;
                .navbar-brand {
                    img {
                        width: 110px;
                    }
                }
                .header__menu__nav {
                    .navbar-nav {
                        gap: 30px;
                    }
                }
            }
        }
        main {
            #main__get__started {
                background-image: url(/assets/img/bg-curvy-mobile.svg);
                background-size: 100% 20%;
                .mgs__image {
                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: contain;
                    }
                }
                .mgs__title {
                    span {
                        font-size: 25px;
                    }
                }
                .mgs__content {
                    padding: 0 10%;
                    p {
                        font-size: 14px;
                    }
                }
                .mgs__button {
                    a {
                        font-size: 12px;
                    }
                }
            }
            #main__icons {
                .mi__content {
                    .mi__item {
                        padding: 10px 45px;
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            #main__see__how__fylo__works {
                .mshfw__content {
                    gap: 50px;
                    .mshfw__image {
                        img {
                            width: 100%;
                            height: 250px;
                            object-fit: contain;
                        }
                    }
                    .mshfw__text {
                        padding-left: 10px;
                        padding-right: 10px;
                        span {
                            font-size: 20px;
                        }
                        p {
                            font-size: 13px;
                        }
                        a {
                            font-size: 13px;
                        }
                    }
                }
            }
            #main__comment {
                margin-bottom: 10px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
        footer {
            #footer__newsletter {
                margin-left: 10px;
                margin-right: 10px;
                padding: 40px 25px;
                transform: translateY(165px);
                .fn__subscribe {
                    .fn__subscribe__intro {
                        h2 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    .fn__subscribe__form {
                        flex-direction: column;
                        gap: 20px;
                    }
                }
            }
            #footer__content {
                padding-top: 230px;
                padding-bottom: 40px;
                padding-left: 30px;
                padding-right: 30px;
                .fc__location {
                    font-size: 14px;
                }
                .nav {
                    .nav-link {
                        font-size: 14px;
                    }
                }
                .social {
                        justify-content: center;
                }
            }
        }
    }

    br.small {
        display: block;
    }
    br.large {
        display: none;
    }
}

@media (max-width: 375px) { 
    .fylo__landingpage {
        header {
            nav {
                .navbar-brand {
                    img {
                        width: 90px;
                    }
                }
                .header__menu__nav {
                    .navbar-nav {
                        gap: 20px;
                    }
                }
            }
        }
        main {
            #main__get__started {
                .mgs__title {
                    span {
                        font-size: 21px;
                    }
                }
                .mgs__content {
                    padding: 0 5%;
                    p {
                        font-size: 14px;
                    }
                }
            }
            #main__icons {
                .mi__content {
                    .mi__item {
                        padding: 10px 20px;
                        p {
                            font-size: 14px;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
            #main__see__how__fylo__works {
                .mshfw__content {
                    .mshfw__text {
                        span {
                            font-size: 16px;
                        }
                        p {
                            font-size: 13px;
                        }
                        a {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) { 
    .fylo__landingpage {
        header {
            nav {
                .navbar-brand {
                    img {
                        width: 90px;
                    }
                }
                .header__menu__nav {
                    .navbar-nav {
                        gap: 20px;
                    }
                }
            }
        }
        main {
            #main__get__started {
                .mgs__title {
                    span {
                        font-size: 20px;
                    }
                }
                .mgs__content {
                    padding: 0 5%;
                    p {
                        font-size: 14px;
                    }
                }
            }
            #main__icons {
                .mi__content {
                    .mi__item {
                        padding: 10px 20px;
                        p {
                            font-size: 14px;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
            #main__see__how__fylo__works {
                .mshfw__content {
                    .mshfw__text {
                        span {
                            font-size: 16px;
                        }
                        p {
                            font-size: 13px;
                        }
                        a {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}