@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --font__opensans: "Open Sans", sans-serif;
  --font__raleway: "Raleway", sans-serif;
  --darkblue__intro: hsl(217, 28%, 15%);
  --darkblue__main: hsl(218, 28%, 13%);
  --darkblue__footer: hsl(216, 53%, 9%);
  --darkblue__testimonials: hsl(219, 30%, 18%);
  --cyan__call: hsl(176, 68%, 64%);
  --blue__call: hsl(198, 60%, 50%);
  --lightred__error: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

.fylo__landingpage {
  background-color: var(--darkblue__main);
  font-family: var(--font__opensans);
  font-size: 14px;
  color: var(--white);
  line-height: normal;
}
.fylo__landingpage header {
  background-color: var(--darkblue__intro);
}
.fylo__landingpage header nav {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.fylo__landingpage header nav .header__menu__nav .navbar-nav {
  flex-direction: row;
  gap: 40px;
}
.fylo__landingpage header nav .header__menu__nav .navbar-nav .nav-item {
  color: var(--white);
}
.fylo__landingpage main #main__get__started {
  text-align: center;
  margin-bottom: 100px;
  background-color: var(--darkblue__intro);
  background-image: url(/assets/img/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 30%;
}
.fylo__landingpage main #main__get__started .mgs__image {
  margin-bottom: 50px;
}
.fylo__landingpage main #main__get__started .mgs__title {
  margin-bottom: 30px;
}
.fylo__landingpage main #main__get__started .mgs__title span {
  font-family: var(--font__raleway);
  font-size: 40px;
  font-weight: 600;
}
.fylo__landingpage main #main__get__started .mgs__content {
  padding: 0 25%;
  margin-bottom: 20px;
}
.fylo__landingpage main #main__get__started .mgs__content p {
  font-size: 20px;
}
.fylo__landingpage main #main__get__started .mgs__button {
  margin-bottom: 20px;
}
.fylo__landingpage main #main__get__started .mgs__button a {
  background-color: var(--blue__call);
  border-color: var(--blue__call);
  padding: 15px 60px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
}
.fylo__landingpage main #main__icons {
  margin-bottom: 70px;
}
.fylo__landingpage main #main__icons .mi__content {
  margin-bottom: 50px;
}
.fylo__landingpage main #main__icons .mi__content .mi__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
}
.fylo__landingpage main #main__icons .mi__content .mi__item img {
  margin-bottom: 40px;
}
.fylo__landingpage main #main__icons .mi__content .mi__item span {
  font-family: var(--font__raleway);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.fylo__landingpage main #main__icons .mi__content .mi__item p {
  text-align: center;
}
.fylo__landingpage main #main__see__how__fylo__works {
  margin-bottom: 120px;
}
.fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__image img {
  width: 100%;
}
.fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 40px;
}
.fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text span {
  font-family: var(--font__raleway);
  font-size: 40px;
  font-weight: 600;
}
.fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text p {
  margin-bottom: 0;
}
.fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text a {
  color: var(--cyan__call);
  text-decoration: none;
  border-bottom: solid 2px var(--cyan__call);
  padding-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
}
.fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text a::after {
  content: url(/assets/img/icon-arrow.svg);
  line-height: 0;
}
.fylo__landingpage main #main__comment {
  margin-bottom: 120px;
}
.fylo__landingpage main #main__comment .container {
  background-image: url(/assets/img/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: inherit;
  padding: 30px 20px;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide {
  background-color: var(--darkblue__testimonials);
  border-radius: 5px;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide .mc__content {
  padding: 25px;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide .mc__content span {
  line-height: 1.5;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide .mc__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 25px 25px;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide .mc__profile .mc__profile__image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide .mc__profile .mc__profile__content {
  display: flex;
  flex-direction: column;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide .mc__profile .mc__profile__content .mc__profile__content__name {
  font-weight: bold;
}
.fylo__landingpage main #main__comment .swiper .swiper-wrapper .swiper-slide .mc__profile .mc__profile__content .mc__profile__content__job {
  font-size: 11px;
}
.fylo__landingpage footer #footer__newsletter {
  background-color: var(--darkblue__testimonials);
  border-radius: 5px;
  padding: 40px 70px;
  transform: translateY(80px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__intro {
  margin-bottom: 10px;
}
.fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__intro h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__intro p {
  padding: 0px 10px;
  margin-bottom: 30px;
}
.fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__form input {
  border-radius: 30px;
}
.fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__form button {
  border-radius: 30px;
  background-color: var(--cyan__call);
  border-color: var(--cyan__call);
}
.fylo__landingpage footer #footer__content {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--darkblue__footer);
}
.fylo__landingpage footer #footer__content .fc__location {
  display: flex;
  gap: 25px;
  padding-right: 25px;
}
.fylo__landingpage footer #footer__content .fc__location::before {
  content: url(/assets/img/icon-location.svg);
}
.fylo__landingpage footer #footer__content .fc__phone {
  display: flex;
  gap: 25px;
  padding-right: 25px;
}
.fylo__landingpage footer #footer__content .fc__phone::before {
  content: url(/assets/img/icon-phone.svg);
}
.fylo__landingpage footer #footer__content .fc__mail {
  display: flex;
  gap: 25px;
  padding-right: 25px;
}
.fylo__landingpage footer #footer__content .fc__mail::before {
  content: url(/assets/img/icon-email.svg);
}
.fylo__landingpage footer #footer__content .nav .nav-link {
  color: var(--white);
  margin-bottom: 10px;
}
.fylo__landingpage footer #footer__content .social {
  display: flex;
  gap: 10px;
}
.fylo__landingpage footer #footer__content .social a {
  width: 30px;
}
.fylo__landingpage footer #footer__content .social .icon-facebook::before {
  content: url(/assets/img/fb.svg);
}
.fylo__landingpage footer #footer__content .social .icon-twitter:before {
  content: url(/assets/img/tw.svg);
}
.fylo__landingpage footer #footer__content .social .icon-instagram::before {
  content: url(/assets/img/in.svg);
}

br.small {
  display: none;
}

br.large {
  display: block;
}

@media (max-width: 576px) {
  br.small {
    display: block;
  }
  br.large {
    display: none;
  }
}
@media (max-width: 768px) {
  .fylo__landingpage {
    font-size: 12px;
  }
  .fylo__landingpage header nav {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .fylo__landingpage header nav .navbar-brand img {
    width: 110px;
  }
  .fylo__landingpage header nav .header__menu__nav .navbar-nav {
    gap: 30px;
  }
  .fylo__landingpage main #main__get__started {
    background-image: url(/assets/img/bg-curvy-mobile.svg);
    background-size: 100% 20%;
  }
  .fylo__landingpage main #main__get__started .mgs__image img {
    width: 100%;
    height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .fylo__landingpage main #main__get__started .mgs__title span {
    font-size: 25px;
  }
  .fylo__landingpage main #main__get__started .mgs__content {
    padding: 0 10%;
  }
  .fylo__landingpage main #main__get__started .mgs__content p {
    font-size: 14px;
  }
  .fylo__landingpage main #main__get__started .mgs__button a {
    font-size: 12px;
  }
  .fylo__landingpage main #main__icons .mi__content .mi__item {
    padding: 10px 45px;
  }
  .fylo__landingpage main #main__icons .mi__content .mi__item p {
    font-size: 14px;
  }
  .fylo__landingpage main #main__see__how__fylo__works .mshfw__content {
    gap: 50px;
  }
  .fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__image img {
    width: 100%;
    height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text span {
    font-size: 20px;
  }
  .fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text p {
    font-size: 13px;
  }
  .fylo__landingpage main #main__see__how__fylo__works .mshfw__content .mshfw__text a {
    font-size: 13px;
  }
  .fylo__landingpage main #main__comment {
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .fylo__landingpage footer #footer__newsletter {
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 25px;
    transform: translateY(165px);
  }
  .fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__intro h2 {
    font-size: 20px;
  }
  .fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__intro p {
    font-size: 13px;
  }
  .fylo__landingpage footer #footer__newsletter .fn__subscribe .fn__subscribe__form {
    flex-direction: column;
    gap: 20px;
  }
  .fylo__landingpage footer #footer__content {
    padding-top: 230px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .fylo__landingpage footer #footer__content .fc__location {
    font-size: 14px;
  }
  .fylo__landingpage footer #footer__content .nav .nav-link {
    font-size: 14px;
  }
  .fylo__landingpage footer #footer__content .social {
    justify-content: center;
  }
  br.small {
    display: block;
  }
  br.large {
    display: none;
  }
  .mb-7 {
    margin-bottom: 70px;
  }
  .mb-4 {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */